.mat-chip-option {
    height: 50px !important;
    font-size: 50px;
    padding: 15px;
    justify-content: center;
}

.mat-chip-list-wrapper {
        flex-direction: column;
    align-items: flex-start;
    margin: 4px;
}

.max {
    height: 100%;
    background: red;
}

.btn-font {
    font-size: 30px;
}

p {
    padding-left: 10px;
}
